:host(ir-nav) {
  padding-top: 0;
  padding-bottom: 1rem;
  display: grid;

  header {
    z-index: 999;
    width: 100%;

    nav {
      display: block;
      margin: 1em;
      line-height: 1.4em;
      text-align: center;
    }

    #logo {
      float: left;
      font-size: 1.4em;
      color: #e2e6e8;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      width: 4rem;
      letter-spacing: -1px;
    }

    #eggs {
      font-size: 0.5em;
      opacity: 0.2;
      width: 4rem;
    }

    #languages {
      float: right;
      font-size: 0.9em;
      color: #e2e6e8;
      width: 7rem;

      span {
        opacity: .66;
      }

      span:first-child {
        margin-right: 0.2em;
      }

      span:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 686px) {
    header {
      border-bottom: 0.5px solid rgba(226, 230, 232, 0.2);
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
    }
  }
}
