:host(ir-footer) {
  width: 100%;

  footer {
    background: #16191b;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1em;

    > div {
      margin: 1em;
    }
  }

  #footer-email, #footer-email a:not(span) {
    font-size: 0.9em;
    color: #e2e6e8;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .66;

    a:hover {
      opacity: 1;
    }
  }

  #footer-social-links a {
    font-size: 0.9em;
    color: #e2e6e8;
    text-decoration: none;
    margin-left: 2em;
    opacity: .66;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  #footer-social-links {
    float: right;
  }

  @media (max-width: 860px) {
    footer {
      border-top: 1px solid grey;

      > div {
        margin: 0;
        text-align: center;
      }

      #footer-social-links {
        float: none;
        a {
          margin: 1em;
        }
      }
    }
  }
}