<footer>
    <div id="footer-container">
        <span id="footer-email" (mouseover)="hideEmail()">
            Email: <a href="mailto:ramos.silvan.ismael@gmail.com">ramos.silvan.ismael@gmail.com</a>
        </span>
        <span id="footer-troll">
            ¯\_(ツ)_/¯
        </span>
        <div id="footer-social-links">
            <a href="https://github.com/Ismaestro" target="_blank">Git<span class="colored">hub</span></a>
            <a href="http://stackoverflow.com/users/1919749/ismaestro" target="_blank">
                Stackoverflow
            </a>
            <a href="https://www.linkedin.com/in/ramossilvanismael/" target="_blank">
                Linked<span class="colored">in</span>
            </a>
        </div>
    </div>
</footer>
