:host(ir-footer) {
  footer {
    margin-top: 1em;
    background: #16191b;
    position: sticky;
    top: 100%;
    font-size: 1em;
    align-items: center;

    #footer-container {
      padding: 1em;
    }

    #footer-troll {
      display: none;
      transform: rotate(180deg);
    }
  }

  #footer-email, #footer-email a:not(span), #footer-troll {
    font-size: 0.9em;
    color: #e2e6e8;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .66;

    a:hover {
      opacity: 1;
    }
  }

  #footer-social-links a {
    font-size: 0.9em;
    color: #e2e6e8;
    text-decoration: none;
    margin-left: 2em;
    opacity: .66;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  #footer-social-links {
    float: right;
  }

  @media (max-width: 686px) {
    footer {
      border-top: 0.5px solid rgba(226, 230, 232, 0.2);
      -webkit-background-clip: padding-box;
      background-clip: padding-box;

      > div {
        margin: 0;
        text-align: center;
      }

      #footer-social-links {
        margin-top: 1em;
        float: none;
        a {
          margin: 1em;
        }
      }
    }
  }

  @media (max-width: 360px) {
    footer {
      #footer-container {
        padding: 1em 0;
      }

      #footer-social-links {
        a {
          font-size: 0.9em;
          margin: 0;

          &:nth-child(2) {
            margin: 1.9rem;
          }
        }
      }
    }
  }
}
