<ir-nav></ir-nav>
<div id="wrapper">
    <section id="welcome">
        <div>
            <div class="left">
            </div>
            <div class="right">
                <h1 id="greeting" [innerHtml]="greeting" (click)='clickGreeting()'></h1>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section id="about">
        <div id="info-title" class="left">
            INFO.
        </div>
        <div id="info-content" class="right">
            I'm Ismael Ramos, a Web Developer living in Madrid who likes to learn new things
            every day, make apps, and have fun coding. I work across the full JavaScript stack
            (now I am working with Angular 2 in a fintech project). Here are a few projects, and you can see more in my
            Github.<br>
            <div id="smile">
                <span (click)="clickSmile()">
                    :)
                </span>
            </div>
        </div>
        <div class="clear"></div>
    </section>
    <section id="path">
        <div id="path-title" class="left">
            PATH.
        </div>
        <div id="path-content" class="right">
            <span>C++</span> ➖> <span>Java 7</span> ➖> <span>HTML5/CSS3</span> ➖>
            <span>PHP/MySQL</span> ➖> <span>Javascript ES6</span> ➖> <span>NodeJS/MongoDB</span> ➖>
            <span>Typescript</span> ➖> <span>to be continued!</span>
        </div>
        <div class="clear"></div>
    </section>
    <section id="labs">
        <div id="labs-title" class="left">
            LABS.
        </div>
        <div id="labs-content" class="right">
            <ul>
                <li *ngFor="let lab of labs">
                    <span class="number">{{lab.id}}</span> <a href="{{lab.link}}" target="_blank">{{lab.name}}</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </section>
</div>
<ir-footer></ir-footer>