<div id="wrapper">
    <section>
        <h1 id="greeting" [innerHtml]="greeting"></h1>
    </section>
    <section id="about">
        <h3 class="section-title typer-component">Info</h3>
        <div class="content">I'm Justin Windle, a Creative Developer from London who likes to mix code, animation, interactivity and generative design. I work across the full JavaScript stack and have presented my work at conferences like Resonate and FITC. Formerly Google Creative Lab / Qwiki / FI. I'm currently freelancing.</div>
    </section>
    <section id="about">
        <h3 class="section-title typer-component">Info</h3>
        <div class="content">I'm Justin Windle, a Creative Developer from London who likes to mix code, animation, interactivity and generative design. I work across the full JavaScript stack and have presented my work at conferences like Resonate and FITC. Formerly Google Creative Lab / Qwiki / FI. I'm currently freelancing.</div>
    </section>
    <section id="about">
        <h3 class="section-title typer-component">Info</h3>
        <div class="content">I'm Justin Windle, a Creative Developer from London who likes to mix code, animation, interactivity and generative design. I work across the full JavaScript stack and have presented my work at conferences like Resonate and FITC. Formerly Google Creative Lab / Qwiki / FI. I'm currently freelancing.</div>
    </section>
    <section id="about">
        <h3 class="section-title typer-component">Info</h3>
        <div class="content">I'm Justin Windle, a Creative Developer from London who likes to mix code, animation, interactivity and generative design. I work across the full JavaScript stack and have presented my work at conferences like Resonate and FITC. Formerly Google Creative Lab / Qwiki / FI. I'm currently freelancing.</div>
    </section>
    <section id="about">
        <h3 class="section-title typer-component">Info</h3>
        <div class="content">I'm Justin Windle, a Creative Developer from London who likes to mix code, animation, interactivity and generative design. I work across the full JavaScript stack and have presented my work at conferences like Resonate and FITC. Formerly Google Creative Lab / Qwiki / FI. I'm currently freelancing.</div>
    </section>
    <section id="about">
        <h3 class="section-title typer-component">Info</h3>
        <div class="content">I'm Justin Windle, a Creative Developer from London who likes to mix code, animation, interactivity and generative design. I work across the full JavaScript stack and have presented my work at conferences like Resonate and FITC. Formerly Google Creative Lab / Qwiki / FI. I'm currently freelancing.</div>
    </section>
    <section id="about">
        <h3 class="section-title typer-component">Info</h3>
        <div class="content">I'm Justin Windle, a Creative Developer from London who likes to mix code, animation, interactivity and generative design. I work across the full JavaScript stack and have presented my work at conferences like Resonate and FITC. Formerly Google Creative Lab / Qwiki / FI. I'm currently freelancing.</div>
    </section>
</div>