<ir-nav></ir-nav>
<div id="wrapper">
    <section id="welcome">
        <div>
            <div class="left">
            </div>
            <div class="right">
                <h1 id="greeting" [innerHtml]="greeting" (click)='clickGreeting()'></h1>
            </div>
            <div class="clear"></div>
        </div>
    </section>
    <section id="about">
        <div id="info-title" class="left">
            INFO.
        </div>
        <div id="info-content" class="right">
            {{'infoContent' | translate}}
            <br>
            <p>{{'iLike' | translate}}, {{randomLike | translate}}</p>
            <br>
            <div id="smile">
                <span (click)="clickSmile()">
                    :)
                </span>
            </div>
        </div>
        <div class="clear"></div>
    </section>
    <section id="path">
        <div id="path-title" class="left">
            PATH.
        </div>
        <div id="path-content" class="right">
            <span>C++</span> · <span>Java 7</span> · <span>HTML5/CSS3</span> ·
            <span>PHP/MySQL</span> · <span>Javascript ES6</span> · <span>NodeJS/MongoDB</span> ·
            <span>Typescript</span> · <span>{{'toBeContinued' | translate}}!</span>
        </div>
        <div class="clear"></div>
    </section>
    <section id="labs">
        <div id="labs-title" class="left">
            LABS.
        </div>
        <div id="labs-content" class="right">
            <ul>
                <li *ngFor="let lab of labs">
                    <span class="number">{{lab.id}}</span> <a href="{{lab.link}}" target="_blank">{{lab.name}}</a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </section>
</div>
<ir-footer></ir-footer>